[Unit]
Description=Volumio USB Autoplay
After=network.target sound.target volumio.service
Wants=volumio.service

[Service]
Type=oneshot
User=volumiooem
Group=volumio
ExecStartPre=/bin/sleep 3
ExecStart=/usr/local/bin/volumio-usb-autoplay.sh
